<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".GramaVaxiApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GramaVaxi"
        tools:targetApi="31">

        <!-- LAUNCHER: SplashActivity (Login Screen) -->
        <activity
            android:name=".ui.main.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Dashboard -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.main.SplashActivity"/>

        <!-- Register Animal -->
        <activity
            android:name=".ui.register.RegisterAnimalActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.main.MainActivity"/>

        <!-- Animal Details -->
        <activity
            android:name=".ui.details.AnimalDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.main.MainActivity"/>

        <!-- Vaccination Calendar -->
        <activity
            android:name=".ui.main.VaccinationCalendarActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.main.MainActivity"/>

        <!-- Camp List -->
        <activity
            android:name=".ui.main.CampListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.main.MainActivity"/>

        <!-- Disease Report List -->
        <activity
            android:name=".ui.main.DiseaseReportListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.main.MainActivity"/>

        <!-- File Provider for Camera -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>